@import "~assets/styles/colors";

.category {
  .see-all {
    display: none;
  }
  h2.title-block {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 2rem;
    color: $black;
  }
  .category-banner {
    img {
      width: 100%;
    }
  }
  .category-footer {
    margin-bottom: 5rem;
  }
  .see-more-category {
    padding: 12px 5rem;
    font-size: 14px;
    background: $primary;
    position: relative;
    color: $white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    &:after {
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      content: "";
      border: 1px solid $primary;
    }
  }
}
