@import "~assets/styles/colors";

.product {
  padding-bottom: 15px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 4rem;

  @media (max-width: 575px) {
    &:nth-of-type(odd) {
      padding-right: 7.5px;
    }

    &:nth-of-type(even) {
      padding-left: 7.5px;
    }
  }

  &:hover .product-image:before {
    opacity: 1;
    font-family: sans-serif;
  }

  .product-image {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 0;
      transition: 0.3s ease;
      border: 1px solid $primary;
    }

    img {
      width: 100%;
    }
  }

  .product-price {
    margin: 1.5rem 0 1rem;

    .del {
      margin-left: 2rem;
    }
  }

  .product-title {
    margin-bottom: 15px;
    line-height: 2.5rem;
  }

  .price-status {
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid $primary;
    display: inline;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 12px;
    user-select: none;

    &.active {
      color: $white;
      background: $primary;
      letter-spacing: 0px;
      padding: 2px 12px;
    }
  }
  .add-to-cart {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 8px 5px;
    width: 15rem;
  }
}
