@import "~assets/styles/colors";

.cart {
  .title-block {
    text-align: left;
    color: $black;
    font-size: 2.6rem;
  }

  table {
    width: 100%;
    td {
      padding: 1.5rem 2rem;
      border: 1px solid $table-border;
      font-size: 14px;
      text-align: center;

      &:last-of-type img {
        width: 15px;
        cursor: pointer;
      }
    }
    thead {
      td {
        font-weight: 500;
      }
    }
    tbody {
      td:nth-of-type(2) {
        text-align: left;
      }
    }

    img {
      width: 135px;
    }

    .amount {
      span {
        line-height: 30px;
        user-select: none;
        height: 30px;
        font-size: 18px;
        text-align: center;
        display: inline-block;

        &.plus,
        &.minus {
          width: 30px;
          color: $primary;
          border: 1px solid $primary;
          cursor: pointer;
        }

        &.value {
          margin: 0 3px;
          width: 50px;
          border: 1px solid $primary;
        }
      }
    }
  }

  .order {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    table {
      td {
        padding: 8px 2rem;
        &:nth-of-type(1) {
          text-align: left;
        }
        &:nth-of-type(2) {
          text-align: right;
        }
      }
    }
    .order-btn {
      margin-top: 3rem;
    }
  }
  .notify-cart {
    font-size: 2.6rem;
    text-align: center;
    margin: 6rem 0;
    .custom-button {
      margin-top: 2rem;
      color: $white;
      text-decoration: none !important;
      &:hover {
        color: $white;
      }
    }
  }
}
