@import "~assets/styles/colors";
@import "~assets/styles/mixin";

.header {
  padding: 2rem 0 6rem;
  position: relative;

  @media (max-width: 991px) {
    padding: 2rem 0;
  }

  a {
    text-transform: uppercase;
  }
  .header-logo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    img {
      width: 20rem;
      @media (max-width: 991px) {
        width: 15rem;
      }
    }
    .header-nav-btn {
      display: none;
      cursor: pointer;
      margin: 0 10px 0 0;
      @media (max-width: 991px) {
        display: block;
      }
      img {
        width: 20px;
        pointer-events: none;
      }
    }
  }
  .header-location {
    padding: 5px;
    background: $gray-light;
    cursor: pointer;
    p {
      font-size: 10px;
    }
    span {
      font-size: 12px;
    }
    img {
      width: 8px;
    }
    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 8px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p,
      span {
        font-size: 14px;
      }
      img {
        margin-left: 10px;
      }
    }
  }
  .header-search {
    flex: 1;
    max-width: 45rem;
    padding: 8px 3rem 8px 2rem;
    border-radius: 30px;
    margin: 0 15px;
    background: $gray-light;
    input {
      width: 100%;
    }
    img {
      width: 15px;
      margin-right: 10px;
    }
  }
  .header-authen {
    span {
      margin: 0 5px;
    }
  }
  .header-cart {
    margin-left: 10px;
    @media (max-width: 991px) {
      align-items: center !important;
    }
    img {
      width: 30px;
      margin-right: 5px;
      @media (max-width: 991px) {
        width: 20px;
      }
    }
    a {
      display: flex;
      align-items: flex-end;
      text-decoration: none !important;
    }
    span {
      font-size: 1.8rem;
      color: $red;
    }
    .search-mobile {
      display: none;
      @media (max-width: 991px) {
        display: block;
        margin-right: 10px;
      }
    }
  }
  .list-menu {
    position: absolute;
    transition: 0.3s ease;
    background: $white;
    width: 100%;
    max-width: 100%;
    top: 70%;

    &.active {
      position: fixed;
      padding: 15px;
      top: 0;
      left: 0;
      margin: 0 auto;
      @include box-shadow;
      animation: slideDown 0.5s linear forwards;
      z-index: 100;
      @keyframes slideDown {
        0% {
          top: -15%;
        }
        100% {
          top: 0;
        }
      }
    }
    @media (max-width: 991px) {
      display: none !important;
    }
    a {
      position: relative;
      &:before {
        position: absolute;
        bottom: -5px;
        height: 2px;
        background: $primary;
        width: 100%;
        content: "";
        opacity: 0;
        transition: 0.3s ease;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }
  .header-search,
  .header-authen {
    @media (max-width: 991px) {
      display: none !important;
    }
  }
  .nav-menu-mobile {
    @include box-shadow;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
    &.active {
      pointer-events: unset;
      visibility: visible;
      .nav-menu-overlay {
        opacity: 1;
      }
      .nav-menu-main {
        transform: translateX(0);
      }
    }
    .nav-menu-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 9;
      transition: 0.3s ease;
      opacity: 0;
    }
    .nav-menu-main {
      padding: 60px 15px 15px 15px;
      width: 40rem;
      height: 100%;
      background: $white;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.3s ease;
      transform: translateX(-100%);
    }
    .nav-close,
    .nav-user {
      position: absolute;
      top: 15px;
      cursor: pointer;
    }
    .nav-close {
      left: 15px;
    }
    .nav-user {
      right: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .line {
      width: calc(100% + 30px);
      margin: 1rem -15px;
      background: $red;
      height: 1px;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 12px;
      }
    }
    a {
      display: block;
      padding: 1rem 0;
      font-weight: 400;
    }
  }
}
