@import "~assets/styles/colors";

.footer {
  background: $gray-light;
  padding: 4rem 0 0;
  .footer-item {
    ul {
      margin: 2.5rem 0;
      a {
        margin-bottom: 1.5rem;
        display: block;
        font-weight: 400;
      }
    }
    &:nth-of-type(4) {
      ul {
        margin: 1rem 0 2.5rem 0;
      }
      li {
        padding-right: 10px;
      }
    }
    &:nth-of-type(5) {
      margin: 0 -15px;
      .col-12 {
        margin-bottom: 15px;
      }
      img {
        margin-right: 10px;
      }
      .hot-line-icon {
        width: 20px;
      }
      a {
        color: $primary;
        span {
          color: $black;
          padding-left: 5px;
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 15px;
    background: $white;
    padding: 15px;
  }
}
