@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;600;700&family=Nunito:wght@300;400;600;700&display=swap");

// font-family: 'Barlow', sans-serif;
// font-family: 'Nunito', sans-serif;
